{
    "path": "/data.txt",
    "savePath": "/home/administrator/savedirectory",
    "workingPath": "/home/administrator/workingdirectory",
    "pythonPartPath": "./python_part/grafovani.py",
    "server": "192.168.1.25",
    "user": "admin",
    "passwd": "password"
}