[Unit]
Description=Graphs from PDUs
After=network.target

[Service]
User=administrator
Nice=1
SuccessExitStatus=0 1
ProtectHome=false
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/home/administrator/graph-pdu-schneider-e/periodic_logging/
ExecStart=pwsh ./graph.ps1

[Install]
WantedBy=multi-user.target
